body {
  background-color: #f5ddf5;
  font-family: serifs;
}

.container {
  margin: 120px auto;
  max-width: 600px;
  background-color: #f5ddf5;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  display: flex;
}

.form-wrapper {
  background-color: #f5ddf5;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.5);
}

.instructions {
  padding: 15px 20px;
  border: 1px solid rgb(245, 221, 245, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 15;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #885df1;
  color: #fff;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.submit-button:hover {
  background: #fff;
  color: #885df1;
  cursor: pointer;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

.poem {
  font-size: 14px;
  background-color: #fff;
  padding: 20px;
  line-height: 24px;
  border-left: 3px solid #885df1;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.5);
}

.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
